.cartIcon {
    overflow: visible !important;
}

.minicartIconContainer {
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: flex-start;
}

.minicartQuantityBadgeDefault {
    top: -0.3rem;
    right: 0rem;
    width: 10px;
    height: 10px;
    font-weight: bold;
    border-radius: 50%;
}

.minicartTitle {
    font-size: 0px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    position: relative;
    width: fit-content;
}

.minicartTitle::before {
    content: "Carrito de Compras";
    font-family: "CenturyGothic-Bold";
    font-size: 22px;
    color: #000000;
    text-transform: initial;
    margin-right: 0.3rem;
}

.minicartTitle::after {
    content: "";
    margin: 0px auto;
    left: 0px;
    right: 0px;
    width: 80%;
    background: #C1E1DC;
    position: absolute;
    height: 9px;
    bottom: 0;
    z-index: -1;
}

.minicartCheckoutButton :global(.vtex-button) {
    background-color: #D84C4C;
    border-radius: 3px;
    text-transform: capitalize;
    padding: 1rem;
    border: 0;
    box-shadow: 0 0 25px rgb(51 51 51 / 20%);
}

.minicartCheckoutButton :global(.vtex-button__label) {
    font-family: "CenturyGothic-Bold";
}

.minicartCheckoutButton :global(.vtex-button):hover {
    background: #8e2626;
    border: 0;
}

@media screen and (max-width: 1024px) {
    .openIconContainer {
        padding: 0;
    }
    .openIconContainer :global(.vtex-button__label)::before {
        margin-right: 0;
        font-size: 0px;
    }
    .cartIcon {
        width: 14px;
        height: 14px;
        margin-top: 3px;
    }
}