/* .quantitySelectorStepper--pdp-quantity {
   
} */
.summaryContainer :global(.vtex-numeric-stepper__input),
.summaryContainer :global(.vtex-numeric-stepper__minus-button),
.summaryContainer :global(.vtex-numeric-stepper__plus-button) {
    height: 45px;
    border-radius: 3px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #c63335;

}

.summaryContainer :global(.vtex-numeric-stepper__input) {
    height: 45px;
    border: 1px solid #ccc;
    font-family: "Raleway-Bold";
    color: #c63335;
}

.quantitySelectorContainer--pdp-quantity {
    margin: 0;
}

.quantitySelectorTitle--pdp-quantity {
    font-family: "CenturyGothic-Bold";
    font-size: 14px;
    color: #3d3d3d;
}

.quantitySelectorContainer {
    margin: 0;
}

.quantitySelectorTitle {
    display: none;
}

@media screen and (max-width: 1024px) {
    .quantitySelectorStepper--pdp-quantity :global(.vtex-numeric-stepper__input) {
        width: 64px;
    }
    .summaryContainer :global(.vtex-numeric-stepper__input) {
        height: 45px;
        border: 1px solid #ccc;
        font-family: "Raleway-Bold";
        color: #c63335;
        width: 100%;
    }

}