.newsletterForm--footer-form {
  display: flex;
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 40px;
  align-items: center;
}

.newsletterForm--footer-form .emailInputContainer {
  width: 100%;
}

.newsletterForm--footer-form :global(.vtex-button) {
  background-color: transparent;
  border: none;
  position: relative;
}

.newsletterForm--footer-form :global(.vtex-button__label) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 40px;
  background: transparent;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 1rem;
  border-radius: 3px;
  border: 1px solid;
  text-transform: capitalize;
}

.newsletterForm--footer-form :global(.vtex-input-prefix__group) {
  border: 1px solid #ffffff;
  border-radius: 0;
  height: 40px;
}

.newsletterForm--footer-form :global(.vtex-styleguide-9-x-input) {
  font-size: 12px;
  font-family: "CenturyGothic-Bold";
  border-radius: 3px;
  width: 100%;
  height: 40px;
}

.newsletterForm--footer-form :global(.vtex-input__error) {
  font-size: 12px;
  font-family: "CenturyGothic-Bold";
  position: absolute;
  color: red;
}

.defaultSuccessMessage--footer-form {
  font-size: 12px;
  font-family: "CenturyGothic-Bold";
  margin-left: 1rem;
}



@media screen and (max-width: 1024px) {
  .newsletterForm--footer-form {
    flex-direction: column;
  }

  .formSubmitContainer {
    width: 100%;
  }

  .newsletterForm--footer-form :global(.vtex-button__label) {
    margin-left: 0;
    width: 100%;
  }

  .newsletterForm--footer-form :global(.vtex-button) {
width: 100%;
margin: 1rem 0;
  }
}