.element :global(.vtex-product-summary-2-x-productBrand) {
    color: #211F30;
    font-size: 17px;
    font-family: 'CenturyGothic-Bold';
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 0;
    height: 2.5rem;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.element :global(.vtex-button) {
    background: #D84C4C;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0;
    height: 45px;
    width: 55px;
    border: 1px solid;
}

.element :global(.vtex-button):hover {
    background: #831d1e;
}

.element :global(.vtex-button):hover :global(.vtex-add-to-cart-button-0-x-buttonText) {
    color: #fff;
}

.element {
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
}

.element .imageNormal.image {
    height: 276px !important;
}

.productNameContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.nameContainer {
    padding-bottom: .7rem;
}

.skuSelectorContainer--select-sku-input :global(.vtex-store-components-3-x-skuSelectorTextContainer),
.skuSelectorContainer--select-sku-input :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
    margin-left: 0px;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    height: fit-content;
    background: #fff;
    width: fit-content;
}

.imageContainer::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #00000005;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.SKUSelectorContainer--select-sku-input :global(.vtex-store-components-3-x-skuSelectorName) {
    display: none;
}

@media screen and (max-width: 1024px) {
    .element :global(.vtex-button) {
        padding: 0;
        width: 100%;
        margin-top: 0.2rem;
    }
    .element {
        max-width: none;
        box-sizing: border-box;
        margin: unset;
        padding: 2rem 0.2rem;
        display: flex;
    }
    .element .imageNormal.image {
        height: auto !important;
        padding: 1rem 0;
    }
}