.title--title-similares {
    padding: 0;
    color: #221f30;
    font-size: 1.5rem;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: CenturyGothic-Bold;
    position: relative;
    z-index: 1;
    margin-bottom: 2.5rem;
}

.title--title-similares::after {
    content: "";
    width: 200px;
    height: 14px;
    background-color: #C1E1DC;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}


.caretIcon--title-similares {
    background: #183152;
    padding: 5px;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    color: #ffffff;
}

.dot {
    background: #ffffff;
    border: 1px solid #183152;
    margin: 0 .4rem;
}

.dot--isActive--title-similares {
    background: #183152;
}

@media screen and (max-width: 1024px) {
    .title--title-similares {
        font-size: 24px;
        align-items: center;
        text-align: center;
    }
}