.product-identifier__label,
.product-identifier__value,
.product-identifier__separator {
  font-family: "CenturyGothic-Bold";
  font-size: 14px;
  color: #666;
}

.product-identifier {
  margin-bottom: 1.3rem;
  display: block;
}


@media screen and (max-width: 1024px) {
  .product-identifier {
    text-align: center;
  }
}

