@font-face {
  font-family: "CenturyGothic-Regular";
  src: url(assets/fonts/CenturyGothic-Regular.ttf);
}
@font-face {
  font-family: "CenturyGothic-RegularItalic.ttf";
  src: url(assets/fonts/CenturyGothic-RegularItalic.ttf);
}
@font-face {
  font-family: "CenturyGothic-Bold";
  src: url(assets/fonts/CenturyGothic-Bold.ttf);
}
@font-face {
  font-family: "CenturyGothic-BoldItalic";
  src: url(assets/fonts/CenturyGothic-BoldItalic.ttf);
}
 